* {box-sizing: border-box}
html, body{
    font-family: sans-serif;
    background: url("p6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-position: center;
    background-attachment: fixed;
}
.div1{
    width : 100%;
    height : 10%;
    /*padding-block-end: 5%;*/
    /* border-radius: 25px; */
    background-color:rgba(5, 5, 5, 0.593);
    padding: 20px; 
    margin:0;
    top:0;
    text-align:center;
}
.div2{
    background-color:rgba(26, 102, 121, 0.5);
    background-clip: padding-box;
    border-radius: 25px;
    padding-top: 2%;
    text-align:center;
    position: absolute;
    width: 24%;
    height: 75%;
  	top:20%;
    margin: auto;
    padding-bottom: 5%;
    border:1px solid rgb(31, 31, 173);
    float:left;
}
.div3{
    background-color: rgba(26, 102, 121, 0.5);
    background-clip: padding-box;
    padding-top: 2%;
    border-radius: 25px;
    position: absolute;
    left: 26%;
    width: 73%;
    height: 75%;
    top:20%;
    padding-bottom: 5%;
    border:1px solid rgb(31, 31, 173);
    float:left;
}
.div4{
    position: absolute;
    left: 5%;
    top:20%;
    width:85%;
    height:75%;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 25px;
    overflow: scroll;
}
.text{
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}
label {
    /* padding: 12px 12px 12px 0; */
    display: inline;
    color:white;
  }

.image{
     width:30%; 
    /* height:30%; */
    padding-left: 0%;
    border-radius: 25px;
    position: relative;
}
.field{
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(255, 255, 255, 0.5);
    background-image: url("search2.png");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding-left: 5%;
    position: absolute;
    left:5%;
    
}
.field:focus{
    width: 70%;
    
}
.input{
    padding-left : 50%;
}
.input[type=text]{
    text-align:center;
    width: 50%;
    padding: 3%;
    margin: 5px 0 25px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 25px;
    resize: vertical;
}
input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}
.input[type=submit]{
    background-color: #55a9f7;
    color: white;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 25px;
    position: relative;
    padding:10px;
    float: inherit;
}
.input[type=submit]:hover{opacity:1;}

.txt{
    text-align: justify;
    text-indent: 50%;
    /* background-color: rgb(255, 255, 255, 0.1); */
    color: blue;
}
.txt:hover{
    color: rgb(48, 137, 189);
}
.txt:focus{
    color: rgb(52, 25, 126);
}
.aa{
    list-style-type: circle;
    /* background-color: rgb(255, 255, 255, 0.1); */
    padding: 25px;
}
.col-25{
    float : inherit;
    text-align: center;
    margin-top: 6px; 
}
.col-75{
    float: inherit;
    text-align: center;
    margin-top:6px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }


@media screen and (max-width: 600px) {
.image{
    width:20%;
    position: relative;
}
.div2{
    width: 100%;
    margin-top: 0;
    display: inline-block;
    position:relative;
    top:2px;
    padding-bottom: 480px;
}
.div3{
    width: 100%;
    display: inline-block;
    position:relative;
    left:0;
    top:5px;
}
.field{
    position: relative;
    left:10%;
    text-align: end;
}
.input[type=submit]:hover{opacity:1;}
.txt:hover{
    color: rgb(48, 137, 189);
} 
}

@media screen and (max-width: 1025px) and (min-width: 601px){
.image{
        width:20%;
        position: relative;
}
.div1, .col-25, p, .txt{
    font-size: 30px;
    padding-bottom: 50px;
} 
.div2{
    width: 100%;
    margin-top: 0;
    display: inline-block;
    position:relative;
    top:2px;
    padding-bottom: 800px;
}
.div3{
    width: 100%;
    display: inline-block;
    position:relative;
    left:0;
    top:5px;
    padding-bottom: 300px;
    padding-top:10px
}
.field{
    position: relative;
    left:10%;
    text-align: end;
    font-size: 40px;
    background-image: url("search4.png");
    background-position: 7px 7px; 
    width: 40%;
    bottom:8px;
    padding:6px;
}
.input{
    font-size:30px;
    padding: 10px;
    
}
} 

@media screen and (max-width: 1300px) and (min-width: 1026px){
.div2{
    padding-bottom: 180px;
}
.col-25, .col-75, p, .txt, .input{
    padding-bottom: 1px;
    margin:0;
} 
.image{
    width:20%;
    position: relative;
    padding-top:1px;
}
.field{
    position:relative;
    padding: 5px;
    background-image: url("search2.png");
    background-position: 1px 1px; 
    text-align: end;
}
}
